.content__top {
  margin-top: 45px;
  display: flex;
  justify-content: space-between;
}

.word__name {
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
  color: #2d2d2d;
}

.word__read {
  padding-top: 8px;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #a445ed;
  display: block !important;
}

.audio-button {
  width: 75px;
  height: 75px;
  padding: 20px;
  padding-left: 25px;
  margin-top: 20px;
  border-radius: 50px;
  justify-content: center;
  background: transparent;
  border: none;
  display: none;
  transition: 0.3s all ease;
  background: #a445ed;
  mix-blend-mode: normal;
  opacity: 0.25;
  cursor: pointer;
}

.audio-button:hover {
  background: #a445ed;
  opacity: 1;
}

.audio-button__image path {
  fill: #a445ed;
}

.noun {
  display: none;
  position: relative;
  margin-top: 40px;
}

.noun__heading,
.verb__heading {
  margin-bottom: 40px;
  font-style: italic;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #2d2d2d;
}

.noun__heading:after {
  position: absolute;
  top: 15px;
  left: 160px;
  content: "";
  display: block;
  width: 70%;
  border: 1px solid #e9e9e9;
}

.noun__meaning,
.verb__meaning {
  padding-bottom: 25px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #757575;
}

.noun__definition,
.verb__definition {
  padding-bottom: 15px;
  padding-left: 35px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #2d2d2d;
}

.synonyms,
.antonyms {
  display: flex;
  padding-top: 25px;
  display: none;
  width: 430px;
  width: 100%;
  white-space: wrap;
  overflow-x: hidden;
}

.synonyms__noun,
.antonyms__noun {
  padding-left: 22px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #a445ed;
}

.verb {
  position: relative;
}

.verb__example {
  padding-left: 35px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #757575;
}

.line {
  margin-top: 40px;
  margin-bottom: 30px;
  transform: translateY(900%);
  width: 100%;
  height: 1px;
  display: block;
  content: "";
  background: #e9e9e9;
}

.source {
  display: flex;
  padding-bottom: 100px;
}

.source__paragraph {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-decoration-line: underline;
  color: #757575;
}

.source__link {
  padding-left: 20px;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-decoration-line: underline;
  color: #2d2d2d;
}

.on-off {
  margin-top: 14px;
  background: transparent;
  border: none;
}

.on {
  color: #ffffff !important;
  background: #1f1f1f;
}

.white {
  color: #ffffff;
}

.error {
  text-align: center;
  display: none;
}

.moon__image {
  cursor: pointer;
}

.nav__select {
  cursor: pointer;
}

.error__emotion {
  margin-bottom: 40px;
  width: 30px;
  font-weight: 400;
  font-size: 64px;
  line-height: 75px;
  color: #2d2d2d;
}

.error__paragraph {
  padding-top: 40px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #2d2d2d;
}

.error__suggestion {
  padding-top: 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #757575;
}

.form__validation {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ff5252;
  text-align: left;
}

.border {
  border: 1px solid #ff5252;
}

.dark {
  background-color: #050505;
}
.dark .form__input {
  color: #ffffff !important;
  background: #1f1f1f;
}
.dark .form__input::-moz-placeholder {
  color: #ffffff;
}
.dark .form__input::placeholder {
  color: #ffffff;
}
.dark .noun__heading:after {
  border-color: #3a3a3a;
}
.dark .line {
  background: #3a3a3a;
}
.dark .word__name,
.dark .noun__heading,
.dark .source__link,
.dark .noun__definition,
.dark .nav__select {
  color: #ffffff;
}

@media only screen and (max-width: 520px) {
  .word__name {
    font-size: 32px;
    line-height: 39px;
  }
  .word__read {
    padding-top: 8px;
    font-size: 18px;
    line-height: 24px;
  }
  .audio-button {
    width: 48px;
    height: 48px;
    padding: 5px;
    padding-left: 7px;
    padding-top: 8px;
  }
  .audio-button__image {
    width: 13px;
    height: 13px;
  }
  .noun {
    margin-top: 20px;
  }
  .noun__heading,
  .verb__heading {
    margin-bottom: 30px;
    font-style: italic;
    font-size: 18px;
    line-height: 22px;
  }
  .noun__heading:after {
    left: 60px;
  }
  .noun__meaning,
  .verb__meaning {
    padding-bottom: 20px;
    font-size: 16px;
    line-height: 19px;
  }
  .noun__definition,
  .verb__definition {
    padding-bottom: 15px;
    padding-left: 35px;
    font-size: 15px;
    line-height: 24px;
  }
  .synonyms,
  .antonyms {
    display: flex;
    padding-top: 25px;
    display: none;
    width: 430px;
    width: 100%;
    white-space: wrap;
    overflow-x: hidden;
  }
  .synonyms__noun,
  .antonyms__noun {
    padding-left: 22px;
    font-size: 16px;
    line-height: 19px;
  }
  .verb {
    position: relative;
  }
  .verb__example {
    padding-left: 35px;
    font-size: 16px;
    line-height: 19px;
  }
  .source {
    display: flex;
    flex-direction: column;
  }
  .source__paragraph {
    padding: 0;
    padding-bottom: 10px;
    font-size: 14px;
    line-height: 17px;
  }
  .source__link {
    padding: 0;
    font-size: 14px;
    line-height: 17px;
  }
}/*# sourceMappingURL=content.css.map */