* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: "Inter";
  font-style: normal; }

a {
  cursor: pointer; }

.container {
  max-width: 737px;
  padding: 0 20px;
  margin: 0 auto; }

@media only screen and (max-width: 690px) {
  .container {
    max-width: 690px; } }
.header .container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px; }

.header__logo {
  cursor: pointer; }

.nav__button {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: right;
  color: #2d2d2d;
  background: transparent;
  border: none;
  transition: 0.3s all ease;
  cursor: pointer; }

.nav {
  margin-top: -10px;
  display: flex; }

.on-off {
  margin-left: 20px;
  cursor: pointer;
  transition: 0.3s all ease; }

.nav__select {
  margin-top: 15px;
  margin-left: -30px;
  background: transparent;
  border: none;
  outline: none; }

.nav__select::after {
  display: block;
  content: "";
  height: 32px;
  width: 1px;
  background: #e9e9e9;
  border: 1px solid; }

.moon {
  background: transparent;
  border: none;
  margin-left: 20px; }

.moon__image {
  margin-top: 15px; }

.moon-clicked .moon__image path {
  stroke: #a445ed; }

.request {
  margin-top: 50px; }

.form {
  position: relative;
  text-align: center;
  width: 100%;
  margin: 0 auto; }

.form__button {
  position: absolute;
  border: none;
  background: transparent;
  top: 20px;
  right: 25px; }

.form__input:focus {
  border: 1px solid #a445ed; }

.form__input {
  position: relative;
  margin: 0 auto;
  width: 100%;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2d2d2d;
  position: relative;
  padding: 20px 24px;
  background: #f4f4f4;
  border-radius: 16px;
  border: none;
  outline: none; }

.form__input::placeholder {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2d2d2d;
  mix-blend-mode: normal;
  opacity: 0.25; }

.form__button-img {
  position: relative;
  top: 2px;
  right: 8px;
  cursor: pointer; }

.border {
  border: 1px solid #921e4e; }

.content__top {
  margin-top: 45px;
  display: flex;
  justify-content: space-between; }

.word__name {
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
  color: #2d2d2d; }

.word__read {
  padding-top: 8px;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #a445ed;
  display: block !important; }

.audio-button {
  width: 75px;
  height: 75px;
  padding: 20px;
  padding-left: 25px;
  margin-top: 20px;
  border-radius: 50px;
  justify-content: center;
  background: transparent;
  border: none;
  display: none;
  transition: 0.3s all ease;
  background: #a445ed;
  mix-blend-mode: normal;
  opacity: 0.9;
  cursor: pointer; }

.audio-button:hover {
  background: #a445ed;
  opacity: 1; }

.audio-button__image path {
  fill: #a445ed; }

.noun {
  display: none;
  position: relative;
  margin-top: 40px; }

.noun__heading,
.verb__heading {
  margin-bottom: 40px;
  font-style: italic;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #2d2d2d; }

.noun__heading:after {
  position: absolute;
  top: 15px;
  left: 160px;
  content: "";
  display: block;
  width: 70%;
  border: 1px solid #e9e9e9; }

.noun__meaning,
.verb__meaning {
  padding-bottom: 25px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #757575; }

.noun__definition,
.verb__definition {
  padding-bottom: 8px;
  padding-left: 35px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #2d2d2d; }

.synonyms,
.antonyms {
  display: flex;
  padding-top: 25px;
  display: none;
  width: 430px;
  width: 100%;
  white-space: wrap;
  overflow-x: hidden; }

.synonyms__noun,
.antonyms__noun {
  padding-left: 22px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #a445ed; }

.verb {
  position: relative; }

.verb__example {
  padding-left: 35px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #757575; }

.line {
  margin-top: 40px;
  margin-bottom: 30px;
  transform: translateY(900%);
  width: 100%;
  height: 1px;
  display: block;
  content: "";
  background: #e9e9e9; }

.source {
  display: flex;
  padding-bottom: 100px; }

.source__paragraph {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-decoration-line: underline;
  color: #757575;
  transition: 0.3s all ease;
  cursor: pointer; }

.source__link {
  padding-left: 20px;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-decoration-line: underline;
  color: #2d2d2d;
  transition: 0.3s all ease; }

.source__paragraph:hover,
.source__link:hover {
  color: #8f19e8 !important; }

.on-off {
  margin-top: 14px;
  background: transparent;
  border: none; }

.on {
  color: #ffffff !important;
  background: #1f1f1f; }

.white {
  color: #ffffff; }

.error {
  text-align: center;
  display: none; }

.moon__image {
  cursor: pointer; }

.nav__select {
  cursor: pointer; }

.error__emotion {
  margin-bottom: 40px;
  width: 30px;
  font-weight: 400;
  font-size: 64px;
  line-height: 75px;
  color: #2d2d2d; }

.error__paragraph {
  padding-top: 40px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #2d2d2d; }

.error__suggestion {
  padding-top: 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #757575; }

.form__validation {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ff5252;
  text-align: left; }

.border {
  border: 1px solid #ff5252; }

.dark {
  background-color: #050505;
  transition: 0.2s all ease; }
  .dark .form__input {
    color: #ffffff !important;
    background: #1f1f1f; }
  .dark .form__input::placeholder {
    color: #ffffff; }
  .dark .noun__heading:after {
    border-color: #3a3a3a; }
  .dark .line {
    background: #3a3a3a; }
  .dark .word__name,
  .dark .noun__heading,
  .dark .source__link,
  .dark .noun__definition,
  .dark .nav__select {
    color: #ffffff; }

@media only screen and (max-width: 520px) {
  .word__name {
    font-size: 32px;
    line-height: 39px; }

  .word__read {
    padding-top: 8px;
    font-size: 18px;
    line-height: 24px; }

  .audio-button {
    width: 48px;
    height: 48px;
    padding: 5px;
    padding-left: 7px;
    padding-top: 8px; }

  .audio-button__image {
    width: 13px;
    height: 13px; }

  .noun {
    margin-top: 20px; }

  .noun__heading,
  .verb__heading {
    margin-bottom: 30px;
    font-style: italic;
    font-size: 18px;
    line-height: 22px; }

  .noun__heading:after {
    left: 80px; }

  .noun__meaning,
  .verb__meaning {
    padding-bottom: 20px;
    font-size: 16px;
    line-height: 19px; }

  .noun__definition,
  .verb__definition {
    padding-bottom: 15px;
    padding-left: 35px;
    font-size: 15px;
    line-height: 24px; }

  .synonyms,
  .antonyms {
    display: flex;
    padding-top: 25px;
    display: none;
    width: 430px;
    width: 100%;
    white-space: wrap;
    overflow-x: hidden; }

  .synonyms__noun,
  .antonyms__noun {
    padding-left: 22px;
    font-size: 16px;
    line-height: 19px; }

  .verb {
    position: relative; }

  .verb__example {
    padding-left: 35px;
    font-size: 16px;
    line-height: 19px; }

  .source {
    display: flex;
    flex-direction: column; }

  .source__paragraph {
    padding: 0;
    padding-bottom: 10px;
    font-size: 14px;
    line-height: 17px; }

  .source__link {
    padding: 0;
    font-size: 14px;
    line-height: 17px; } }
.definition__example {
  padding-bottom: 20px;
  padding-left: 35px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #757575; }

.definitions > div > .spaan:before {
  position: absolute;
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  top: 10px;
  left: 0px;
  border-radius: 5px;
  background: #8f19e8; }

.definitions > div > .spaan {
  position: relative; }

.center-body {
  display: none;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  position: absolute;
  /****** center box
	width: 300px;
	height: 300px;
	border: solid 1px #aaa;
	******/ }

.loader-circle-2 {
  position: relative;
  width: 70px;
  height: 70px;
  display: inline-block; }

.loader-circle-2:before,
.loader-circle-2:after {
  content: "";
  display: block;
  position: absolute;
  border-width: 5px;
  border-style: solid;
  border-radius: 50%; }

.loader-circle-2:before {
  width: 70px;
  height: 70px;
  border-bottom-color: #009688;
  border-right-color: #009688;
  border-top-color: transparent;
  border-left-color: transparent;
  animation: loader-circle-2-animation-2 1s linear infinite; }

.loader-circle-2:after {
  width: 40px;
  height: 40px;
  border-bottom-color: #e91e63;
  border-right-color: #e91e63;
  border-top-color: transparent;
  border-left-color: transparent;
  top: 22%;
  left: 22%;
  animation: loader-circle-2-animation 0.85s linear infinite; }

@keyframes loader-circle-2-animation {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(-360deg); } }
@keyframes loader-circle-2-animation-2 {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

/*# sourceMappingURL=main.css.map */
